<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
  <title>{% if page.title || post.title %}{{ page.title || post.title }} | {{ site.title }}{% else %}{{ site.title }} | {{ site.description }}{% endif %}</title>
  <meta name="description" content="{% if page.description || post.description %}{{ page.description || post.description }}{% else %}{{ site.description }}{% endif %}">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link href='http://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,700|Lora:400,400italic' rel='stylesheet' type='text/css'>
  <link rel="stylesheet" href="http://openseattle.org/style/dist/openseattle-style.css" />
  <link rel="stylesheet" href="style.css" />
</head>
<body>
  <main role="main">
    <div class="container">
      <article class="page">
        <div class="page-content">
          <h1 class="site-title">{{ page.title }}</h1>
          <a href="http://openseattle.org" target="_blank" class="openseattle-logo"><img src="http://openseattle.org/logo/openseattle-500x392.png"></a>

          {{ content }}
        </div>
      </article>
    </div>
  </main>
</body>
</html>